In [109]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [217]:
usecols = ['neighbourhood_group', 'room_type','latitude','longitude','price','minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365']

df = pd.read_csv('AB_NYC_2019.csv', usecols=usecols)

In [218]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [219]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,48885,48886,48887,48888,48889,48890,48891,48892,48893,48894
neighbourhood_group,brooklyn,manhattan,manhattan,brooklyn,manhattan,manhattan,brooklyn,manhattan,manhattan,manhattan,...,manhattan,manhattan,brooklyn,manhattan,queens,brooklyn,brooklyn,manhattan,manhattan,manhattan
latitude,40.64749,40.75362,40.80902,40.68514,40.79851,40.74767,40.68688,40.76489,40.80178,40.71344,...,40.79633,40.75561,40.71232,40.76392,40.69137,40.67853,40.70184,40.81475,40.75751,40.76404
longitude,-73.97237,-73.98377,-73.9419,-73.95976,-73.94399,-73.975,-73.95596,-73.98493,-73.96723,-73.99037,...,-73.93605,-73.96723,-73.9422,-73.99183,-73.80844,-73.94995,-73.93317,-73.94867,-73.99112,-73.98933
room_type,private_room,entire_home/apt,private_room,entire_home/apt,entire_home/apt,entire_home/apt,private_room,private_room,private_room,entire_home/apt,...,private_room,entire_home/apt,entire_home/apt,private_room,private_room,private_room,private_room,entire_home/apt,shared_room,private_room
price,149,225,150,89,80,200,60,79,79,150,...,75,200,170,125,65,70,40,115,55,90
minimum_nights,1,1,3,1,10,3,45,2,2,1,...,2,6,1,4,1,2,4,10,1,7
number_of_reviews,9,45,0,270,9,74,49,430,118,160,...,0,0,0,0,0,0,0,0,0,0
reviews_per_month,0.21,0.38,NaN,4.64,0.1,0.59,0.4,3.47,0.99,1.33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
calculated_host_listings_count,6,2,1,1,1,1,1,1,1,4,...,2,1,3,1,2,2,2,1,6,1
availability_365,365,355,365,194,0,129,0,220,0,188,...,353,176,365,31,163,9,36,27,2,23

In [220]:
df.dtypes

neighbourhood_group                object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [221]:
df.isna().any()
df.isnull().sum()

neighbourhood_group                   0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [222]:
df.reviews_per_month = df.reviews_per_month.fillna(0)

In [223]:
#Question 1
#What is the most frequent observation (mode) for the column 'neighbourhood_group'?
df['neighbourhood_group'].describe()
df[df['neighbourhood_group']=='manhattan'].count()

neighbourhood_group               21661
latitude                          21661
longitude                         21661
room_type                         21661
price                             21661
minimum_nights                    21661
number_of_reviews                 21661
reviews_per_month                 21661
calculated_host_listings_count    21661
availability_365                  21661
dtype: int64

In [224]:
from sklearn.model_selection import train_test_split

In [225]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [226]:
df_train2 = df_train.copy()
len(df_train), len(df_val), len(df_test)

(29337, 9779, 9779)

In [227]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [204]:
y_train = df_train.price.values
y_val = df_val.price.values
y_test = df_test.price.values

del df_train['price']
del df_val['price']
del df_test['price']

In [205]:
#Question 2
#Create the correlation matrix for the numerical features of your train dataset.
#In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
#What are the two features that have the biggest correlation in this dataset?
categorical = [
    'neighbourhood_group',
    'room_type'
]
numerical = ['latitude','longitude','minimum_nights','number_of_reviews','reviews_per_month','calculated_host_listings_count','availability_365']
print(df_full_train[numerical].corrwith(df_full_train.price))

df_full_train.corr()
# reviews_per_month number_of_reviews

latitude                          0.035015
longitude                        -0.149080
minimum_nights                    0.042740
number_of_reviews                -0.048926
reviews_per_month                -0.051978
calculated_host_listings_count    0.055336
availability_365                  0.080562
dtype: float64

,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
latitude,1.000000,0.080704,0.035015,0.025497,-0.011836,-0.013809,0.020299,-0.008341
longitude,0.080704,1.000000,-0.149080,-0.063498,0.057570,0.134401,-0.115289,0.082994
price,0.035015,-0.149080,1.000000,0.042740,-0.048926,-0.051978,0.055336,0.080562
minimum_nights,0.025497,-0.063498,0.042740,1.000000,-0.077860,-0.121687,0.121748,0.140596
number_of_reviews,-0.011836,0.057570,-0.048926,-0.077860,1.000000,0.584935,-0.072603,0.175428
reviews_per_month,-0.013809,0.134401,-0.051978,-0.121687,0.584935,1.000000,-0.047368,0.165565
calculated_host_listings_count,0.020299,-0.115289,0.055336,0.121748,-0.072603,-0.047368,1.000000,0.223328
availability_365,-0.008341,0.082994,0.080562,0.140596,0.175428,0.165565,0.223328,1.000000

In [206]:
df = df_train2.copy()
df['above_average'] = (df.price >=152).astype(int)
df

,neighbourhood_group,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,above_average
13575,brooklyn,40.72760,-73.94495,entire_home/apt,99,3,29,0.70,13,50,0
48476,manhattan,40.70847,-74.00498,private_room,57,1,0,0.00,1,7,0
44499,bronx,40.83149,-73.92766,entire_home/apt,70,40,0,0.00,1,0,0
17382,brooklyn,40.66448,-73.99407,entire_home/apt,130,2,3,0.08,1,0,0
14638,manhattan,40.74118,-74.00012,private_room,110,1,48,1.80,2,67,0
...,...,...,...,...,...,...,...,...,...,...,...
13198,brooklyn,40.71748,-73.95685,private_room,50,6,5,0.13,1,0,0
14583,brooklyn,40.66397,-73.98538,private_room,125,1,7,0.17,2,0,0
6168,manhattan,40.79994,-73.97001,private_room,299,1,1,0.64,1,88,1
12248,brooklyn,40.69585,-73.96344,private_room,65,60,0,0.00,1,0,0
20523,brooklyn,40.64438,-73.95484,entire_home/apt,92,7,15,0.49,2,281,0

In [207]:
#Question 3
#Calculate the mutual information score with the (binarized) price for the two categorical variables that we have. 
#Use the training set only.
#Which of these two variables has bigger score?
#Round it to 2 decimal digits using round(score, 2)
from sklearn.metrics import mutual_info_score
def mutual_info_price_score(series):
    return mutual_info_score(series, df.above_average)

mi = df[categorical].apply(mutual_info_price_score)
mi.sort_values(ascending=False)
#round(mi.max(), 2)

room_type              0.143226
neighbourhood_group    0.046506
dtype: float64

In [208]:
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

y_train_bin = (y_train >=152).astype(int)
y_val_bin = (y_val >=152).astype(int)
y_test_bin = (y_test >=152).astype(int)

In [135]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42, max_iter=10000)
model.fit(X_train, y_train_bin)

LogisticRegression(max_iter=10000, random_state=42)

In [138]:
model.intercept_[0]
model.coef_[0].round(3)

array([ 3.000e-03,  4.000e-03, -5.855e+00, -3.186e+00, -1.100e-02,
       -1.600e-01,  1.470e-01,  1.599e+00, -2.000e-03, -1.641e+00,
       -3.000e-03, -4.100e-02,  1.939e+00, -8.400e-01, -1.156e+00])

In [150]:
y_pred = model.predict_proba(X_val)[:, 1]

In [151]:
y_pred

array([0.02870615, 0.59589002, 0.42652397, ..., 0.11399498, 0.03448844,
       0.52768385])

In [156]:
above_decision = (y_pred >= 0.5)
above_decision.astype(int)

array([0, 1, 0, ..., 0, 0, 1])

In [157]:
(above_decision == y_val_bin).mean()

0.790878412925657

In [158]:
#neighbourhood_group
#room_type
#number_of_reviews
#reviews_per_month

del df_train['neighbourhood_group']
del df_val['neighbourhood_group']
del df_test['neighbourhood_group']
categorical = [
    'room_type'
]
train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42, max_iter=10000)
model.fit(X_train, y_train_bin)

y_pred = model.predict_proba(X_val)[:, 1]
above_decision = (y_pred >= 0.5)
(above_decision == y_val_bin).mean()

0.7509970344616014

In [175]:
del df_train['room_type']
del df_val['room_type']
del df_test['room_type']
categorical = [
    'neighbourhood_group'
]
train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42, max_iter=10000)
model.fit(X_train, y_train_bin)

y_pred = model.predict_proba(X_val)[:, 1]
above_decision = (y_pred >= 0.5)
(above_decision == y_val_bin).mean()

0.7286021065548625

In [192]:
del df_train['number_of_reviews']
del df_val['number_of_reviews']
del df_test['number_of_reviews']
numerical = ['latitude','longitude','minimum_nights','reviews_per_month','calculated_host_listings_count','availability_365']

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42, max_iter=10000)
model.fit(X_train, y_train_bin)

y_pred = model.predict_proba(X_val)[:, 1]
above_decision = (y_pred >= 0.5)
(above_decision == y_val_bin).mean()

0.7915942325391144

In [209]:
del df_train['reviews_per_month']
del df_val['reviews_per_month']
del df_test['reviews_per_month']
numerical = ['latitude','longitude','minimum_nights','number_of_reviews','calculated_host_listings_count','availability_365']

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42, max_iter=10000)
model.fit(X_train, y_train_bin)

y_pred = model.predict_proba(X_val)[:, 1]
above_decision = (y_pred >= 0.5)
(above_decision == y_val_bin).mean()

0.7906738930360978

In [228]:
y_train = np.log1p(df_train.price.values)
y_val = np.log1p(df_val.price.values)
y_test = np.log1p(df_test.price.values)

del df_train['price']
del df_val['price']
del df_test['price']

In [235]:
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

def rmse(y, y_pred):
    se = (y - y_pred) ** 2
    mse = se.mean()
    return np.sqrt(mse)

from sklearn.linear_model import Ridge
for r in [0, 0.01, 0.1, 1, 10]:
    model = Ridge(alpha=r, random_state=42, max_iter=10000)
    model.fit(X_train, y_train)
    y_pred = model.predict(X_val)
    print(r, '-', round(rmse(y_val, y_pred),3))

0 - 0.497
0.01 - 0.497
0.1 - 0.497
1 - 0.497
10 - 0.498